<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Rome Theatre</title>
    <meta name="keyword" content="html5, css, bootstrap, property, real-estate theme , bootstrap template">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Kanit&subset=thai,latin' rel='stylesheet' type='text/css'>

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="assets/css/normalize.css">
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/fontello.css">
    <link href="assets/fonts/icon-7-stroke/css/pe-icon-7-stroke.css" rel="stylesheet">
    <link href="assets/fonts/icon-7-stroke/css/helper.css" rel="stylesheet">
    <link href="assets/css/animate.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="assets/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/icheck.min_all.css">
    <link rel="stylesheet" href="assets/css/price-range.css">
    <link rel="stylesheet" href="assets/css/owl.carousel.css">
    <link rel="stylesheet" href="assets/css/owl.theme.css">
    <link rel="stylesheet" href="assets/css/owl.transitions.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/responsive.css">
</head>

<body>

    <div id="preloader">
        <div id="status">&nbsp;</div>
    </div>
    <!-- Body content -->

    <nav class="navbar navbar-default ">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">
                    <h4>Rome Theatre</h4>
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse yamm" id="navigation">
                <div class="button navbar-right">
                    <button class="navbar-btn nav-button wow bounceInRight login" onclick=" window.open('#')" data-wow-delay="0.45s">ออกจากระบบ</button>
                    <button class="navbar-btn nav-button wow fadeInRight" onclick=" window.open('#')" data-wow-delay="0.48s">รอบฉาย</button>
                </div>
                <ul class="main-nav nav navbar-nav navbar-right">
                    <li class="wow fadeInDown" data-wow-delay="0.2s">
                        <a class="" href="/">หน้าหลัก</a>
                    </li>

                    <li class="wow fadeInDown" data-wow-delay="0.2s">
                        <a class="" href="/movie-list">ภาพยนตร์</a>
                    </li>

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <!-- End of nav bar -->


    <div class="content-area blog-page padding-top-40" style="background-color: #FCFCFC; padding-bottom: 55px;">
        <div class="container">
            <div class="row">

                <div class="blog-asside-right col-md-2">
                    <div class="panel panel-default sidebar-menu wow fadeInRight animated">
                        <div class="panel-heading">
                            <h3 class="panel-title">เมนู</h3>
                        </div>
                        <div class="panel-body text-widget footer-menu">
                            <li>
                                <a href="/admin-editmovie">แก้ไขภาพยนตร์</a>
                            </li>

                            <li>
                                <a href="/admin-editshowtime">แก้ไขรอบฉาย</a>
                            </li>



                        </div>
                    </div>



                </div>

                <div class="blog-lst col-md-10 p0 profiel-container">

                    <form action="" method="">
                        <div class="profiel-header">
                            <h3>
                                แก้ไขข้อมูลภาพยนตร์

                            </h3>
                            <hr>
                        </div>

                            <!-- Choose edit -->
                            <div class="properties-area recent-property" style="background-color: #838383;">
                                <div class="container">
                                    <div class="row  pr0 padding-top-40 properties-page">
                                        <div class="col-md-10 padding-bottom-40 large-search">
                                            <div class="search-form wow pulse">
                                                <form action="" class=" form-inline">
                                                    <div class="col-md-12">

                                                        <div class="col-md-6">
                                                            <select id="lunchBegins" class="selectpicker" data-live-search="true" data-live-search-style="begins" title="เลือกสาขา">

                                                                <option>สถานที่ 1</option>

                                                            </select>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <select id="lunchBegins" class="selectpicker" data-live-search="true" data-live-search-style="begins" title="เลือกภาพยนตร์">

                                                                <option>หนัง 1</option>

                                                            </select>

                                                        </div>
                                                        

                                                    </div>

                                            </div>
                                        </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <!--End choose edit -->
                    <form action="/admin-editmovie" method="POST">
                        <div class="clear">
                            
                            <div class="col-sm-4 padding-top-25">
                                <div class="form-group">
                                    <label>ชื่อเรื่องภาษาไทย</label>
                                    <input name="title_th" type="text" class="form-control">
                                </div>
                                <div class="form-group">
                                        <label>ชื่อเรื่องภาษาอังกฤษ</label>
                                        <input name="title_eng" type="text" class="form-control">
                                </div>
                                <hr>  
                                <div class="col-md-15">
                                        <label>ประเภท</label>
                                        <br>  
                                        <select class="scrollpicker" name="type">
                                        <option>Action</option>
                                        <option>Adventure</option> 
                                        <option>War</option>
                                        <option>Drama</option>
                                        <option>Sci-Fi</option>
                                        <option>Family</option>
                                        <option>Thriller</option>
                                        <option>Crime</option>
                                        <option>Documentaries</option>
                                        <option>Animation</option>
                                        <option>Comedy</option>
                                        <option>Erotic</option>
                                        <option>Fantasy</option>
                                        <option>Romantic</option>
                                        <option>อื่นๆ</option>
                                        </select>                                    
                                </div>
                                 
                                <div class="form-group">
                                    <br>
                                        <label>ความยาว (นาที)</label>
                                        <input type="text" class="form-control" name="length">
                                </div>
                                
                                
                            </div>

                            <div class="col-sm-4 padding-top-25">
                                <div class="form-group">
                                        <label>ชื่อผู้กำกับ</label>
                                        <input type="text" class="form-control" name="director">
                                </div>
                                <div class="form-group">
                                        <label>นักแสดงนำ</label>
                                        <input type="text" class="form-control" name="actor">
                                </div>
                                <hr>  
                                <div class="col-md-15">
                                        <label>เรท</label>
                                        <br>  
                                        <select id="lunchBegins" class="scrollpicker" name="rate">
                                        <option>ท ทั่วไป</option>
                                        <option>ส ส่งเสริม</option> 
                                        <option>น 13+</option>
                                        <option>น 15+</option>
                                        <option>น 18+</option>
                                        <option>ฉ 20-</option>
                                        </select>                                    
                                </div>
                               
                                <div class="form-group">
                                        <br>
                                        <label>ตัวอย่างภาพยนตร์</label>
                                        <input type="text" class="form-control" placeholder="http://" name="trailer">
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <div class="picture-container">
                                    <div class="picture">
                                        <img src="assets/img/avatar.png" class="picture-src" id="wizardPicturePreview" title="" />
                                        <input type="file" id="wizard-picture" name="poster">
                                    </div>
                                    <h6>Choose Poster</h6>
                                </div>
                            </div>
                        </div>

                        <div class="clear">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label>เรื่องย่อ</label>
                                    <input name="synopsis" type="text" class="form-control">
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-5">
                            
                            <input type='submit' class='btn btn-finish btn-primary' name='Save' value='Save' />
                        </div>
                        <br>

                    </form>


                </div>
            </div>

        </div>
    </div>

    <!-- Footer area-->
    <div class="footer-area">

        <div class=" footer">
            <div class="container">
                <div class="row">

                    <div class="col-md-4 col-sm-8 wow fadeInRight animated">
                        <div class="single-footer">
                            <h4>เกี่ยวกับเรา</h4>
                            <div class="footer-title-line"></div>
                            <p>โปรเจ็คโรงภาพยนตร์ วิชา SE</p>

                        </div>
                    </div>
                    <div class="col-md-4 col-sm-8 wow fadeInRight animated">
                        <div class="single-footer">
                            <h4>เมนูลัด </h4>
                            <div class="footer-title-line"></div>
                            <ul class="footer-menu">
                                <li>
                                    <a href="/movie-list">ภาพยนตร์</a>
                                </li>
                                <li>
                                    <a href="#">รอบฉาย</a>
                                </li>
                                <li>
                                    <a href="/register">ลงชื่อเข้าใช้</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-8 wow fadeInRight animated ">
                        <div class="single-footer">
                            <h4>ติดต่อเรา</h4>
                            <div class="footer-title-line"></div>
                            <ul class="footer-adress">
                                <li>
                                    <i class="pe-7s-map-marker strong"> </i>254 แขวงวังใหม่ เขตปทุมวัน กทม. 10330</li>
                                <li>
                                    <i class="pe-7s-mail strong"> </i>rometheatre@gmail.com</li>
                                <li>
                                    <i class="pe-7s-call strong"> </i>+66 850 000 000</li>
                            </ul>
                            <br>

                            <div class="social pull-left">
                                <ul>
                                    <li>
                                        <a class="wow fadeInUp animated" href="#">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="wow fadeInUp animated" href="#" data-wow-delay="0.2s">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="wow fadeInUp animated" href="#" data-wow-delay="0.3s">
                                            <i class="fa fa-google-plus"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="wow fadeInUp animated" href="#" data-wow-delay="0.4s">
                                            <i class="fa fa-instagram"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="wow fadeInUp animated" href="#" data-wow-delay="0.6s">
                                            <i class="fa fa-dribbble"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>


                        </div>

                    </div>

                </div>
            </div>
        </div>

    </div>

    <script src="assets/js/modernizr-2.6.2.min.js"></script>

    <script src="assets/js/jquery-1.10.2.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/bootstrap-select.min.js"></script>
    <script src="assets/js/bootstrap-hover-dropdown.js"></script>

    <script src="assets/js/easypiechart.min.js"></script>
    <script src="assets/js/jquery.easypiechart.min.js"></script>

    <script src="assets/js/owl.carousel.min.js"></script>
    <script src="assets/js/wow.js"></script>

    <script src="assets/js/icheck.min.js"></script>
    <script src="assets/js/price-range.js"></script>

    <script src="assets/js/main.js"></script>

</body>

</html>