<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Rome Theatre | Movie</title>
    <meta name="keyword" content="html5, css, bootstrap, property, real-estate theme , bootstrap template">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Kanit&subset=thai,latin' rel='stylesheet' type='text/css'>

   

    <link rel="stylesheet" href="assets/css/normalize.css">
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/fontello.css">
    <link href="assets/fonts/icon-7-stroke/css/pe-icon-7-stroke.css" rel="stylesheet">
    <link href="assets/fonts/icon-7-stroke/css/helper.css" rel="stylesheet">
    <link href="assets/css/animate.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="assets/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/icheck.min_all.css">
    <link rel="stylesheet" href="assets/css/price-range.css">
    <link rel="stylesheet" href="assets/css/owl.carousel.css">
    <link rel="stylesheet" href="assets/css/owl.theme.css">
    <link rel="stylesheet" href="assets/css/owl.transitions.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/responsive.css">
</head>

<body>

    <div id="preloader">
        <div id="status">&nbsp;</div>
    </div>
    <!-- Body content -->

    <nav class="navbar navbar-default ">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">
                    <h4>Rome Theatre</h4>
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse yamm" id="navigation">
                    <div class="button navbar-right">
                        <%if(!username){%>
                            <button class="navbar-btn nav-button wow bounceInRight login" onclick=" window.location.href='/register'" data-wow-delay="0.45s">ลงชื่อเข้าใช้</button>
                            <%}else{%>
                                <button class="navbar-btn nav-button wow bounceInRight login" onclick=" window.location.href='/logout'" data-wow-delay="0.45s">ออกจากระบบ</button>
                                <%}%>
                    </div>
                    <ul class="main-nav nav navbar-nav navbar-right">
                        <li class="wow fadeInDown" data-wow-delay="0.2s">
                            <a class="" href="/">หน้าหลัก</a>
                        </li>
    
                        <li class="wow fadeInDown" data-wow-delay="0.2s">
                            <a class="" href="/movie-list">ภาพยนตร์</a>
                        </li>
                        <%if(username){%>
                            <li class="wow fadeInDown" data-wow-delay="0.2s">
                                <a class="" href="/user-profile">
                                    <%=username%>
                                </a>
                            </li>
                            <%}%>
                    </ul>
                </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <!-- End of nav bar -->
    <div class="content-area submit-property padding-top-40" >
        <div class="container">

            <div class="col-md-12">

                <div class=" text-center">

                    <h5 class="btn-primary col-md-3 " style="background-color:#FDC600;color:#fff;" disabled="disable">เลือกรอบฉาย</a>
                        <h5 class="btn-primary col-md-3 " disabled="disable" style="background-color:#FDC600;color:#fff;">เลือกที่นั่ง</a>
                            <h5 class="btn-primary col-md-3 " disabled="disable" style="background-color:#191919;color:#fff;">ชำระเงิน</a>
                                <h5 class="btn-primary col-md-3 " disabled="disable" style="background-color:#FDC600;color:#fff;">เสร็จสิ้น</a>
                </div>

                <div class="box-for2 overflow">
                    <div class="col-md-12 col-xs-12 register-blocks">

                        <!-- CREDIT CARD FORM STARTS HERE -->
                        <div class="panel panel-default credit-card-box">
                            <div class="panel-heading display-table">
                                <div class="row display-tr">

                                    <div class="display-td">
                                        <h4 class="panel-title-payment pull-left">การชำระเงิน</h4>
                                        <img class="img-responsive pull-right" src="http://i76.imgup.net/accepted_c22e0.png">
                                    </div>
                                </div>
                            </div>
                            <div class="panel-body">
                                <form role="form" id="payment-form" method="POST" action="javascript:void(0);">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="form-group">
                                                <label for="couponCode">NAME ON CARD</label>
                                                <input type="text" class="form-control" name="nameoncard" placeholder="Name" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="form-group">
                                                <label for="cardNumber">CARD NUMBER</label>
                                                <div class="input-group">
                                                    <input type="tel" class="form-control" name="cardNumber" placeholder="Valid Card Number" autocomplete="cc-number" required
                                                        autofocus />
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-credit-card"></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-7 col-md-7">
                                            <div class="form-group">
                                                <label for="cardExpiry">
                                                    <span class="hidden-xs">EXPIRATION</span>
                                                    <span class="visible-xs-inline">EXP</span> DATE</label>
                                                <input type="tel" class="form-control" name="cardExpiry" placeholder="MM / YY" autocomplete="cc-exp" required />
                                            </div>
                                        </div>
                                        <div class="col-xs-5 col-md-5 pull-right">
                                            <div class="form-group">
                                                <label for="cardCVC">CV CODE</label>
                                                <input type="tel" class="form-control" name="cardsecure" placeholder="CV CODE" autocomplete="cc-csc" required />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <button class="btn btn-success btn-next btn-lg btn-block" type="button" onclick=" window.location.href='/payment4/<%=seats[0].branchname%>/<%=seats[0].theatrenumber%>/<%=seats[0].showtime%>'">ยืนยันการซื้อ (400 บาท)</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <!-- CREDIT CARD FORM ENDS HERE -->
                    </div>
                </div>
            </div>
            <!--  End step 3 -->
        </div>
    </div>







    <!-- Footer area-->
    <div class="footer-area">

        <div class=" footer">
            <div class="container">
                <div class="row">

                    <div class="col-md-4 col-sm-8 wow fadeInRight animated">
                        <div class="single-footer">
                            <h4>เกี่ยวกับเรา</h4>
                            <div class="footer-title-line"></div>
                            <p>โปรเจ็คโรงภาพยนตร์ วิชา SE</p>

                        </div>
                    </div>
                    <div class="col-md-4 col-sm-8 wow fadeInRight animated">
                        <div class="single-footer">
                            <h4>เมนูลัด </h4>
                            <div class="footer-title-line"></div>
                            <ul class="footer-menu">
                                <li>
                                    <a href="movie-list.html">ภาพยนตร์</a>
                                </li>
                                <li>
                                    <a href="#">รอบฉาย</a>
                                </li>
                                <li>
                                    <a href="register.html">ลงชื่อเข้าใช้</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-8 wow fadeInRight animated ">
                        <div class="single-footer">
                            <h4>ติดต่อเรา</h4>
                            <div class="footer-title-line"></div>
                            <ul class="footer-adress">
                                <li>
                                    <i class="pe-7s-map-marker strong"> </i>254 แขวงวังใหม่ เขตปทุมวัน กทม. 10330</li>
                                <li>
                                    <i class="pe-7s-mail strong"> </i>rometheatre@gmail.com</li>
                                <li>
                                    <i class="pe-7s-call strong"> </i>+66 850 000 000</li>
                            </ul>
                            <br>

                            <div class="social pull-left">
                                <ul>
                                    <li>
                                        <a class="wow fadeInUp animated" href="#">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="wow fadeInUp animated" href="#" data-wow-delay="0.2s">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="wow fadeInUp animated" href="#" data-wow-delay="0.3s">
                                            <i class="fa fa-google-plus"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="wow fadeInUp animated" href="#" data-wow-delay="0.4s">
                                            <i class="fa fa-instagram"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="wow fadeInUp animated" href="#" data-wow-delay="0.6s">
                                            <i class="fa fa-dribbble"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>


                        </div>

                    </div>

                </div>
            </div>
        </div>

    </div>

    <script src="assets/js/modernizr-2.6.2.min.js"></script>

    <script src="assets/js/jquery-1.10.2.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/bootstrap-select.min.js"></script>
    <script src="assets/js/bootstrap-hover-dropdown.js"></script>

    <script src="assets/js/easypiechart.min.js"></script>
    <script src="assets/js/jquery.easypiechart.min.js"></script>

    <script src="assets/js/owl.carousel.min.js"></script>
    <script src="assets/js/wow.js"></script>

    <script src="assets/js/icheck.min.js"></script>
    <script src="assets/js/price-range.js"></script>

    <script src="assets/js/main.js"></script>

</body>

</html>